/build/
/.gradle/
/.nb-gradle/
/.nb-gradle-properties
/.settings/
**/application.properties
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/*.jar
